aiohttp==3.7.4
async-timeout==3.0.1
attrs==21.4.0
chardet==3.0.4
discord==1.7.3
discord.py==1.7.3
idna==3.3
multidict==6.0.2
numpy==1.22.2
psycopg2-binary==2.9.3
pycodestyle==2.8.0
python-dotenv==0.19.2
toml==0.10.2
typing-extensions==4.0.1
yarl==1.7.2
